
<div class="row align-center">
  <div class="col-md-10 offset-md-1">
    <br>
    <h3 class="new text-info">Send a message</h3>
    <hr>
    <%= render partial: 'messageinfo', locals: {user: current_user, friend: @friend} %>
    <h5>Content</h5>
    <% if flash[:warning] %>
        <p class="text-danger"><%= flash[:warning] %></p>
    <% end %>
    <div class="newmessage">
      <%= render partial: 'form', locals: {userid: current_user.id, friendid: @friend.id, message: Message.new}%>
    </div>
    <br>
    <%= link_to 'View All Messages', user_messages_path(current_user), class: "badge badge-pill badge-info"%>
  </div>
</div>
