<img src="https://ja-wall.demo.joomlart.com/images/ja-wall-404.png" style="width: 100%">

<hr>

<h1 class='text-center' style='font-family: "Book Antiqua"'><%= link_to "Let's get you back", root_path%></h1>