<div class="form-group row">
  <label class='col-sm-3 col-form-label'>Username:</label>
  <div><%= text_field_tag :username%></div>
</div>
<div class="form-group row">
  <label class='col-sm-3 col-form-label'>Password:</label>
  <div><%= password_field_tag :password%></div>
</div>
