<% if flash[:message] %>
    <div class="alert alert-success"><%= flash[:message] %></div>
<% end %>

  <div class="row">
    <aside class="col-md-4">
      <section>
          <%= render partial: 'users/userinfo', locals: {user: @user}%>
      </section>
      <hr>
      <section>
        <h4 class="text-info">What is on your mind</h4>
        <%= render partial: 'posts/form', locals: {post: @post, size: '30x6'}%>
      </section>
    </aside>
    <div class="col-md-7">
      <%= render partial: 'posts/allfeeds', locals: {feeds: @feeds, user: @user} %>
    </div>
  </div>
