<div class="row align-center">
  <div class="col-md-8 offset-md-2">
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center text-info" colspan="3"><h2>User List</h2></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |f| %>
            <tr>
              <td><img src="<%= f.image %>" style="width: 50px"></td>
              <td>
                <span><%= link_to f.username, user_path(f)%></span>
              </td>
              <td>
                <div><%= render partial: 'connections/form', locals: {friend: f, connection: Connection.new} %></div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </section>
  </div>
</div>
