// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box
}

body {
  font-family: "Lato", sans-serif;
}

/* Change background color of buttons on hover */
td.choice:hover {
  background-color: rgb(203, 217, 219);
}

/* Create an active/current "tab button" class */
td.choice.active {
  background-color: #ccc;
}

.message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 10px 0;
}

td.choice:odd{
  border-color: #ccc;
  background-color: #ddd;
}
.popup::after {
  content: "";
  clear: both;
  display: table;
}

.msgimg {
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}