// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box
}


.d-md-inline-block{
  color: rgb(224, 222, 216);
} 
.d-md-inline-block:hover {
  color: white;
}

body {
  font-family: "Lato", sans-serif;
}

/* Change background color of buttons on hover */
td.choice:hover {
  background-color: rgb(197, 202, 212);
}

/* Create an active/current "tab button" class */
td.choice.active {
  background-color: rgb(189, 211, 209);
}

.message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 10px 0;
}

img{
  width: 50px;
  height: 40px;
  border-radius: 30%;
}

img.avatarimg {
  width: 100px;
  height: 100px;
  border-radius: 40%;
}

img.img-fluid{
  width: 180px;
  height:  180px;
}

.container-fluid {
  height: 100%;
  background-image: image-url("wetext.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.loginpage{
  position:absolute;
  top:35%;
  left:10%;
  width: 80%;
  .login{
    background: #d2e2e759;
  }
}

td.avatar{
  width: 70px;
}