// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,
body {
  height: 100%;
  margin: 0px;
}

.container {
  height: 85%;
}

.scrollit {
  overflow: auto;
  height: 85%;
  width: 100%;
}

.row.messagepage{
  height: 80%;
}

.scrollPost {
  overflow: auto;
  height: 90%;
}